body {
    background-color: #be9b7b; /* Quella sorta di marrone rosato di sfondo */
    color: rgb(58, 35, 22); /* Colore grigio tendente al nero */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Voglio elementi impilati */
    align-items: center; /* Voglio elementi centrati */
    background-image: url('pizza_sfocata.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	font-family: 'Dancing Script', cursive;
}

nav {
    background-color: #44291a; /* Marrone */
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; /* Just in case... */
	background-image: url('dark_wood_upscayl.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

nav .buttons {
    display:flex;
}

nav .button {
    background-color: #f0e7d4; /* Quella sorta di beige */
    margin-right: 2vw; /* Lo voglio un po' staccato da destra */
    margin-left: 2vw; /* Lo voglio un po' staccato da destra */
    color: #d3d3d3;
    font-size: min(10vw, 3.5vh);
    border-radius: 10px; /* Smussa gli angoli */
    overflow: hidden; /* Just in case... */
    background-image: url('wood_light_upscay.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    height: min(11vw, 4.5vh);
    width: 7vw;
    margin-right: -5px;
}

nav .text {
    margin-right: 2vw; /* Lo voglio un po' staccato da destra */
    margin-left: 2vw; /* Lo voglio un po' staccato da destra */
    color: #d3d3d3;
    font-size: min(10vw, 3.5vh);
}


#header {
    background-color: #f0e7d4; /* Quella sorta di beige */
    height: 22vh;
    width: 96.5vw;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    font-size: min(17vw, 17vh);
    border-radius: 10px; /* Smussa gli angoli */
    overflow: hidden; /* Just in case... */
    background-image: url('wood_light_upscay.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header a {
	font-size: min(17vw, 17vh);
	color: rgb(58, 35, 22);
}

#menu_container {
    height: 58vh;
    width: 73vw;
    margin-top: 6vh; /* Un po' distanti da sopra e sotto, visually pleasing */
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around; /* Voglio i menu di scelta equidistanti */
    align-items: center; /* Li voglio centrati nel riquadro del menu_container */
}

#menu_container .choice_menu {
    background-color: #855d37;
    border-radius: 10px; /* Smussa gli angoli */
    height: 100%;
    width: 20vw;
    overflow: hidden; /* This time it's needed! */
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-direction: column;
}

#menu_container .choice_menu .titolo_choice_menu {
    background-color: #f0e7d4;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Just in case... */
    font-size: min(4.3vw, 4.3vh);
    background-image: url('wood_light_upscay.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu_container .choice_menu .titolo_choice_menu a {
	color: rgb(58, 35, 22);
	font-size: min(4.3vw, 4.3vh);
}

#menu_container .choice_menu .titolo_choice_menu a:hover {
	text-decoration: none;
}

#menu_container .choice_menu .split_half {
    width: 100%;
    height: 100%;
    overflow: hidden;
	background-image: url('wood_slight_dark_upscayl.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#menu_container .choice_menu .split_half img {
    width: 100%;
    height: 26.5vh;
}

#menu_container .choice_menu .split_half .text {
    font-size: min(1.2vw, 4vh);
    margin: 2%;
}

#menu_container .choice_menu .split_half .text ul {
    margin: 6% 3%;
    padding: 0;
    list-style-type: none;
}

#menu_container .choice_menu .split_half .text ul li {
    margin-bottom: 3%;
    background-image: url('wood_light_upscay.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-color: #f0e7d4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(1.4vw, 4.7vh);
    
}

a {
    font-size: min(1.2vw, 4vh);
	color: rgb(1, 66, 237);
	text-decoration: none;
}

a:hover {
    font-size: 1.2vw;
    color: rgb(0, 0, 255);
	text-decoration: underline;
}
