<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina rimuovi cuoco</title>
</head>
<body>
    <h2>Rimuovi cuoco esistente</h2>
    <form th:action="@{/rimuoviCuoco}" method="POST" th:object="${cuocoDaRimuovere}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}">
				<span th:text="${err}"></span>
			</p>
		</div>
		<div>
        	Nome*: <input required type="text" th:field="${cuocoDaRimuovere.nome}">
        	<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			<br><br>
        	Cognome*: <input required type="text" th:field="${cuocoDaRimuovere.cognome}">
        	<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			<br><br>
			Data di nascita*: <input required type="date" th:field="${cuocoDaRimuovere.dataNascita}">
			<span th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></span>
			<br><br>
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>
