<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina nuova variant</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
	</head>

	<body>

	    <nav>
	        <div class="buttons">
	            <span class="button">
	                <a href="/register">Registrati</a>
	            </span>
	            <span class="button">
	                <a href="/login">Accedi</a>
	            </span>
	        </div>
	        <div class="text">
	            Benvenuto, Rick!
	        </div>
	    </nav>
		<div id="header"><a th:href="@{/}">Siwfood</a></div>
    <h1>Ricerca una ricetta</h1>
    <h2>Ricerca per nome</h2>
    <form th:action="@{/ricercaPerNomeRicetta}" method="POST" th:object="${ricettaInfos}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}">
                <span th:text="${err}"></span>
            </p>
        </div>
        <div>
            Nome Ricetta*:
            <input required type="text" th:field="${ricettaInfos.nomeRicetta}">
            <span th:if="${#fields.hasErrors('nomeRicetta')}" th:errors="${ricettaInfos.nomeRicetta}"></span>
        </div>
        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
    </form>
</body>
</html>