<!DOCTYPE html>
<head>
    <title>SiwFood - Ricerca Ricetta</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

	<nav th:if="${userDetails!=null && userDetails.username=='Admin'}">

		<div class="buttons">
			<span class="button">
	   	 		<a href="/logout">Esci</a>
			</span>
		        
		</div>
	    
		<div class="text">
	 		Bentornato, Admin !
		</div>

	</nav>
		
	<nav th:if="${userDetails!=null && userDetails.username!='Admin'}">
					
		<div class="buttons">
			<span class="button">
		   	 	<a href="/logout">Esci</a>
			</span>
			        	
		</div>
				
		<div class="text-center" th:text="'Bentornato, ' + ${userDetails.username} + ' ! '"></div>
			    
		<span class="button-right">
				
			<a th:href="@{'/showSelf'}">Profilo</a>
		</span>

		
	</nav>
		
	<nav th:if="${userDetails==null}">
		
		<div class="buttons">
			<span class="button">
				<a href="/register">Registrati</a>
			</span>
			<span class="button">
				<a href="/login">Accedi</a>
			</span>
		</div>
			
		<div class="text">
			   Utente ospite
		</div>
			        
	</nav>
		
	<div id="header"><a th:href="@{/}">Siwfood</a></div>
	
	
	<div id="menu_container">
	        <div class="choice_menu">
	                        
	            <div class="titolo_choice_menu">
	                            
	                <a th:href="@{'/formRicercaRicetta'}">Ricerca una ricetta</a>

	            </div>
	            <div class="split_half">
	                <img src="/css/libro_ricette_upscayl.jpg" width="20%"> 
	            </div>
	                        
	            <div class="split_half">     
	                <div class="text_form">
	                    <ul>
							<li>
								<form th:action="@{/ricercaPerNomeRicetta}" method="POST" th:object="${ricettaInfos}">
										
										<div>
											<h2>Ricerca per Nome</h2>
								        	<span> Nome*:<br></span>
											<input class="fix_offset" required type="text" th:field="${ricettaInfos.nomeRicetta}">
											<span th:if="${#fields.hasErrors('nomeRicetta')}" th:errors="${ricettaInfos.nomeRicetta}"></span>
											<div><br></div>
										</div>
								        <div>
											<span><button class="submit" type="submit">Conferma</button></span>
											<div><br></div>
										</div>
								    </form>
							</li>
							
							<li>
								<form th:action="@{/ricercaPerIngredienteRicetta}" method="POST" th:object="${ingredienteInfos}">
																	
									<div>
										<h2>Ricerca per Ingrediente</h2>
										<span> Nome Ingrediente*:<br></span>
										<input class="fix_offset" required type="text" th:field="${ingredienteInfos.nome}">
										<span th:if="${#fields.hasErrors('nome')}" th:errors="${ingredienteInfos.nome}"></span>
										<div><br></div>
									</div>
									<div>
										<span><button class="submit" type="submit">Conferma</button></span>
										<div><br></div>
									</div>
								</form>
							</li>
							
						</ul>
	                </div>
	            </div>
	        </div>
</body>
</html>