<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina nuova ricetta</title>
</head>
<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>
    <h2>Aggiungi nuova ricetta</h2>
    <form th:action="@{/aggiungiRicettaCompleta}" method="POST" th:object="${nuovaRicetta}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}">
				<span th:text="${err}"></span>
					<span th:if="${err=='Ricetta già presente nel sistema:'}">
						<a th:href="@{'/ricetta' + '/' + ${vecchiaRicetta.id}}" th:text="' ' + ${vecchiaRicetta.nomeRicetta}"> bho?</a>
					</span>
			</p>
		</div>
		<div>
        	Nome*: <input required type="text" th:field="${nuovaRicetta.nomeRicetta}">
        	<span th:if="${#fields.hasErrors('nomeRicetta')}" th:errors="${nuovaRicetta.nomeRicetta}"></span>
			<br><br>
        	Descrizione: <input type="text" th:field="${nuovaRicetta.descrizione}">
        	<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			<br><br>
			Percorso dei file immagine: <input type="text" th:field="${nuovaRicetta.tuttiPathDelleImmaginiString}">
			<br><br>
			Cuoco*:
			<select th:field="${cuoco.nome}">
				<option value="Nessun cuoco" text="Nessun cuoco">Nessun cuoco</option>
				<option th:each="line : ${elencoNomeCognomeData}" th:value="${line}" th:text="${line}">Nome - Cognome - DataNascita</option>
			</select>
			
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>
