<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina nuova ricetta</title>
</head>
<body>
    <h2>Aggiungi nuova ricetta</h2>
    <form th:action="@{/aggiungiRicetta}" method="POST" th:object="${nuovaRicetta}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}">
				<span th:text="${err}"></span>
					<span th:if="${err=='Ricetta già presente nel sistema:'}">
						<a th:href="@{'/ricetta' + '/' + ${vecchiaRicetta.id}}" th:text="' ' + ${vecchiaRicetta.nomeRicetta}"> bho?</a>
					</span>
			</p>
		</div>
		<div>
        	Nome: <input required type="text" th:field="${nuovaRicetta.nomeRicetta}">
        	<span th:if="${#fields.hasErrors('nomeRicetta')}" th:errors="${nuovaRicetta.nomeRicetta}"></span>
			<br><br>
        	Descrizione: <input required type="text" th:field="${nuovaRicetta.descrizione}">
        	<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			<br><br>
			<h4>>INFORMAZIONI CUOCO</h4>
			<br><br>
			Nome cuoco: <input required type="text" th:field="${cuoco.nome}">
			<span th:if="${#fields.hasErrors('cuoco.nome')}" th:errors="${cuoco.nome}"></span>
			<br><br>
			Cognome cuoco: <input required type="text" th:field="${cuoco.cognome}">
			<span th:if="${#fields.hasErrors('cuoco.cognome')}" th:errors="${cuoco.cognome}"></span>
			<br><br>
			Data di nascita cuoco: <input required type="date" th:field="${cuoco.dataNascita}">
			<span th:if="${#fields.hasErrors('cuoco.dataNascita')}" th:errors="${cuoco.dataNascita}"></span>
			<br><br>
			Percorso dei file immagine: <input type="text" th:field="${nuovaRicetta.tuttiPathDelleImmagini}">
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>
