<!DOCTYPE html>
<head>
    <title>Siwvariant registration</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>
    <h2>User Registration Form 2</h2>
    <form th:action="@{/register}" method="POST" th:object="${credentials}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
        <label>Username*:</label><br>
        <input type="text" th:field="${credentials.username}" required>
		<span th:if="${#fields.hasErrors('username')}" th:errors="${credentials.username}"></span>
		<br><br>
        <label>Password*:</label><br>
        <input type="password" th:field="${credentials.password}" required>
		<span th:if="${#fields.hasErrors('password')}" th:errors="${credentials.password}"></span>
		<br><br>
		<label>Nome*:</label><br>
		<input required type="text" th:field="${cuoco.nome}">
		<span th:if="${cuocoErrors != null and cuocoErrors.hasErrors('nome')}" th:errors="${cuoco.nome}"></span>
		<br><br>
		<label>Cognome*:</label><br>
		<input required type="text" th:field="${cuoco.cognome}">
		<span th:if="${cuocoErrors != null and cuocoErrors.hasErrors('cognome')}" th:errors="${cuoco.cognome}"></span>
		<br><br>
		<label>Data di nascita*:</label><br>
		<input required type="date" th:field="${cuoco.dataNascita}">
		<span th:if="${cuocoErrors != null and cuocoErrors.hasErrors('dataNascita')}" th:errors="${cuoco.dataNascita}"></span>
		<br><br>
		<label>Percorso immagine:</label><br> 
		<input type="text" th:field="${cuoco.fotografia_path}">
		
        <input type="submit" value="Register">
    </form>
</body>
</html>
