<!DOCTYPE html>
<head>
    <title>SiwFood</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>

    <div id="menu_container">
        <div class="choice_menu">
            <div class="titolo_choice_menu">
                <a th:href="@{/elencoIngredienti}">Ingredienti</a>
            </div>
            <div class="split_half">
                <img src="/css/fruit_basket_upscayl.jpg" width="20%"> 
            </div>
            <div class="split_half">     
                <div class="text">
                    <ul>
                        <li>
                            <a href="elencoIngredienti">Visualizza tutti gli ingredienti</a>
                        </li>
                        <li>
                            <a href="aggiungiIngrediente">Aggiungi un ingrediente</a>
                        </li>
						<li>
							<a href="rimuoviIngrediente">Rimuovi un ingrediente</a>
						</li>
						<li>
							<a href="formRicercaIngrediente">Ricerca ingredienti</a>
						</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="choice_menu">
            <div class="titolo_choice_menu">
                <a th:href="@{/elencoRicette}">Ricette</a>
            </div>
            <div class="split_half">
                <img src="/css/libro_ricette_upscayl.jpg" width="20%"> 
            </div>
            <div class="split_half">     
                <div class="text">
                    <ul>
                        <li>
                            <a href="elencoRicette">Visualizza tutte le ricette</a>
                        </li>
                        <li>
                            <a href="aggiungiRicetta">Aggiungi una ricetta</a>
                        </li>
						<li>
							<a href="rimuoviRicetta">Rimuovi una ricetta</a>
						</li>
						<li>
							<a href="modificaIngredientiRicetta">Modifica ingredienti di una ricetta</a>
						</li>
						<li>
							<a href="formRicercaRicetta">Ricerca ricette</a>
						</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="choice_menu">
            <div class="titolo_choice_menu">
                <a th:href="@{/elencoCuochi}">Cuochi</a>
            </div>
            <div class="split_half">
                <img src="/css/cappello_cuoco_upscayl.jpg" width="20%"> 
            </div>
            <div class="split_half">     
                <div class="text">
                    <ul>
                        <li>
                            <a href="elencoCuochi">Visualizza tutti i cuochi</a>
                        </li>
                        <li>
                            <a href="aggiungiCuoco">Aggiungi un cuoco</a>
                        </li>
						<li>
							<a href="rimuoviCuoco">Rimuovi un cuoco</a>
						</li>
						<li>
							<a href="modificaRicetteCuoco">Modifica ricette di un cuoco</a>
						</li>
						<li>
							<a href="formRicercaCuoco">Ricerca cuochi</a>
						</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
