<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Siw Food</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="text">
            Bentornato, Rick!
        </div>
    </nav>

    <div id="header">Siwfood</div>

    <div id="menu_container">
        <div class="choice_menu">
            <div class="titolo_choice_menu">
                Ingredienti
            </div>
            <div class="split_half">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Food_basket.jpg/1280px-Food_basket.jpg"> 
            </div>
            <div class="split_half">     
                <div class="text">
                    <ul>
                        <li>
                            <a href="elencoIngredienti">Visualizza tutti gli ingredienti</a>
                        </li>
                        <li>
                            <a href="aggiungiIngredienti">Aggiungi un ingrediente</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="choice_menu">
            <div class="titolo_choice_menu">
                Ricette
            </div>
            <div class="split_half">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Food_basket.jpg/1280px-Food_basket.jpg"> 
            </div>
            <div class="split_half">     
                <div class="text">
                    <ul>
                        <li>
                            <a href="elencoIngredienti">Visualizza tutte le ricette</a>
                        </li>
                        <li>
                            <a href="aggiungiIngredienti">Aggiungi una ricetta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="choice_menu">
            <div class="titolo_choice_menu">
                Cuochi
            </div>
            <div class="split_half">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Food_basket.jpg/1280px-Food_basket.jpg"> 
            </div>
            <div class="split_half">     
                <div class="text">
                    <ul>
                        <li>
                            <a href="elencoIngredienti">Visualizza tutti i cuochi</a>
                        </li>
                        <li>
                            <a href="aggiungiIngredienti">Aggiungi un cuoco</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
