<!DOCTYPE html>
<head>
    <title>SiwFood - Ingrediente</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

	<nav th:if="${userDetails!=null && userDetails.username=='Admin'}">

		<div class="buttons">
			<span class="button">
	   	 		<a href="/logout">Esci</a>
			</span>
		        
		</div>
	    
		<div class="text">
	 		Bentornato, Admin !
		</div>

	</nav>
		
	<nav th:if="${userDetails!=null && userDetails.username!='Admin'}">
					
		<div class="buttons">
			<span class="button">
		   	 	<a href="/logout">Esci</a>
			</span>
			        	
		</div>
				
		<div class="text-center" th:text="'Bentornato, ' + ${userDetails.username} + ' ! '"></div>
			    
		<span class="button-right">
				
			<a th:href="@{'/showSelf'}">Profilo</a>
		</span>

		
	</nav>
		
	<nav th:if="${userDetails==null}">
		
		<div class="buttons">
			<span class="button">
				<a href="/register">Registrati</a>
			</span>
			<span class="button">
				<a href="/login">Accedi</a>
			</span>
		</div>
			
		<div class="text">
			   Utente ospite
		</div>
			        
	</nav>
		
	<div id="header"><a th:href="@{/}">Siwfood</a></div>

    <div th:if="${ingrediente}">
        <div id="menu_container">
            <div class="choice_menu">
                            
                <div class="titolo_choice_menu">
                                
                    <a th:href="@{'/ingrediente/'+ ${ingrediente.id}}" th:text="${ingrediente.nome}">Nome Ingrediente</a>

                </div>
                <div th:if="${ingrediente.image_path != null && ingrediente.image_path != ''}" class="split_half">
                    <div>
                        <img th:src="'/' + ${ingrediente.image_path}" width="20%">
                    </div>
                </div>
                            
                <div class="split_half">     
                    <div class="text">
                        <ul>
                            <li>
								<div>
									<h1>Unità di misura:</h1>
                            		<h2><div th:text="${ingrediente.unitàDiMisura}">Unità di misura</div></h>
								</div>
							</li>
                        </ul>
                    </div>
                </div>
				
				<div th:if="${userDetails!=null && userDetails.username=='Admin'}" class="footer_choice_menu">
				                                
					<a th:href="@{'/admin/rimuoviIngrediente/'+ ${ingrediente.id}}">Elimina</a>

				</div>
				
            </div>
        </div>
    </div>
    <div th:unless="${ingrediente}" id="header_2_err"><h5>Questo ingrediente non è presente nel sistema!</h5></div>
    <div id="menu_container">
</body>

</html>
