<!DOCTYPE html>
<head>
    <title>SiwFood - Ingrediente</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <span th:if="${userDetails!=null}">
            <div class="text_a">
                Bentornato, <a th:href="@{'/showSelf'}" th:text="${userDetails.username}"></a> !
            </div>
        </span>
        <span th:if="${userDetails==null}">
            <div class="text">
                Utente ospite
            </div>
        </span>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>

    <div th:if="${ingrediente}">
		<div id="menu_container">
        <div class="choice_menu">
                        
            <div class="titolo_choice_menu">
                            
                <a th:href="@{'/ingrediente/'+ ${ingrediente.id}}" th:text="${ingrediente.nome}">Nome Ingrediente</a>

            </div>
            <div class="split_half">
                <div th:if="${ingrediente.image_path != null}">
                    <img th:src="'/' + ${ingrediente.image_path}" width="20%">
                </div>
            </div>
                        
            <div class="split_half">     
                <div class="text">
                    <ul>
                        <li><h1>Unità di misura:</h1></li>
                        <li><h3><div th:text="${ingrediente.unitàDiMisura}">Unità di misura</div></h3></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${ingrediente}">Questo ingrediente non è presente nel sistema!</div>
</body>

</html>
