<!DOCTYPE html>
<html>

<head>
    <title>SiwFood - Cuochi</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>
    <div>
        <img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" />
    </div>
    <h1>Benvenuto nell'elenco cuochi!</h1>
	<h2>Ricette del cuoco</h2>
    <div>
        <div th:if="${allRicetteMesse==null || allRicetteMesse.isEmpty()}">
            Questo cuoco non ha ideato nessuna ricetta
        </div>
        <div th:unless="${allRicetteMesse==null || allRicetteMesse.isEmpty()}">
        	<ul>
            	<li th:each="ricetta : ${allRicetteMesse}">
                	<a th:href="@{'/removeRicetta' + '/' + ${cuocoId} + '/' + ${ricetta.id}}" th:text="${ricetta.nomeRicetta}">Goku Ricetta</a>
            	</li>
        	</ul>
        </div>
    </div>
	<h2>Ricette disponibili</h2>
	<div>
	       <div th:if="${allIngredientiDisponibili==null || allIngredientiDisponibili.isEmpty()}">
	            Questo cuoco ha ideato tutte le ricette nel sistema!
	        </div>
	        <div th:unless="${allIngredientiDisponibili==null || allIngredientiDisponibili.isEmpty()}">
	        	<ul>
	            	<li th:each="ricetta : ${allIngredientiDisponibili}">
	                	<a th:href="@{'/addRicetta' + '/' + ${cuocoId} + '/' + ${ricetta.id}}" th:text="${ricetta.nomeRicetta}">Goku Ricetta</a>
	            	</li>
	        	</ul>
	        </div>
	    </div>
</body>

</html>