<!DOCTYPE html>
<html>

<head>
    <title>SiwFood - Cuochi</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>
	<h1>FAI UN LOGIN!!!</h1>