<!DOCTYPE html>
<head>
    <title>SiwFood - Ricetta</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

	<nav th:if="${userDetails!=null && userDetails.username=='Admin'}">

		<div class="buttons">
			<span class="button">
	   	 		<a href="/logout">Esci</a>
			</span>
		        
		</div>
	    
		<div class="text">
	 		Bentornato, Admin !
		</div>

	</nav>
		
	<nav th:if="${userDetails!=null && userDetails.username!='Admin'}">
					
		<div class="buttons">
			<span class="button">
		   	 	<a href="/logout">Esci</a>
			</span>
			        	
		</div>
				
		<div class="text-center" th:text="'Bentornato, ' + ${userDetails.username} + ' ! '"></div>
			    
		<span class="button-right">
				
			<a th:href="@{'/showSelf'}">Profilo</a>
		</span>

		
	</nav>
		
	<nav th:if="${userDetails==null}">
		
		<div class="buttons">
			<span class="button">
				<a href="/register">Registrati</a>
			</span>
			<span class="button">
				<a href="/login">Accedi</a>
			</span>
		</div>
			
		<div class="text">
			   Utente ospite
		</div>
			        
	</nav>
		
	<div id="header"><a th:href="@{/}">Siwfood</a></div>
    
	<div th:if="${ricetta}">
        
        <div id="menu_container">
            <div class="choice_menu_wide">
                <div class="titolo_choice_menu_wide">
                    <a th:href="@{'/ricetta/'+ ${ricetta.id}}" th:text="${ricetta.nomeRicetta}">Nome ricetta</a>
                </div>
                <div class="image_carousel">
                    <img th:each="pathImmagine : ${ricetta.tuttiPathDelleImmagini}" th:if="${pathImmagine!=null && pathImmagine!=''}" th:src="'/' + ${pathImmagine}" width="20%"> 
                </div>
                
                <div class="split_half">     
                    <div class="text">
                        <ul>
                            <li>
                                <span class="text" th:text="${ricetta.descrizione}"></span>
                            </li>
							
                            <li>
								<div>
                                	<h1>Ingredienti:</h1>
                            		<div th:each="ingrediente : ${listaIngredienti}" >
                                		<a th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome} + ' : '">Nome ingrediente Generico</a>
                                		<span th:text="${ricetta.ingrediente2quantity.get(ingrediente)} + ' ' + ${ingrediente.unitàDiMisura}">Quantità ingrediente generica</span>         
										<div><br></div>
									</div>
								</div>
                            </li>
                            <li th:if="${ricetta.cuoco!=null}">
                                <div>
									<h1>Cuoco: </h1>
                                	<a th:href="@{'/cuoco' + '/' + ${ricetta.cuoco.id}}" th:text="${ricetta.cuoco.nome} + ' ' + ${ricetta.cuoco.cognome}">Cuoco Generico</a>
									<div><br></div>	
								</div>
							</li>
                        </ul>
                    </div>
                </div>
				
				<div th:if="${userDetails!=null && userDetails.username=='Admin'}" class="footer_choice_menu">
								                                
					<a th:href="@{'/admin/rimuoviRicetta/'+ ${ricetta.id}}">Elimina</a>

				</div>
            </div>
        </div>
    </div>
	</div>
	<div th:unless="${ricetta}" id="header_2_err"><h5>Questa ricetta non è presente nel sistema!</h5></div>

</body>

</html>
