<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina nuovo cuoco</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>
    <h2>Aggiungi nuovo cuoco</h2>
    <form th:action="@{/admin/aggiungiCuoco}" method="POST" th:object="${nuovoCuoco}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}">
				<span th:text="${err}"></span>
					<span th:if="${err=='Cuoco già presente nel sistema:'}">
						<a th:href="@{'/cuoco' + '/' + ${vecchioCuoco.id}}" th:text="' ' + ${vecchioCuoco.nome} + ' ' + ${vecchioCuoco.cognome}"> bho?</a>
					</span>
			</p>
		</div>
		<div>
        	Nome*: <input required type="text" th:field="${nuovoCuoco.nome}">
        	<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			<br><br>
        	Cognome*: <input required type="text" th:field="${nuovoCuoco.cognome}">
        	<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			<br><br>
			Data di nascita*: <input required type="date" th:field="${nuovoCuoco.dataNascita}">
			<span th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"></span>
			<br><br>
			Percorso file immagine: <input type="text" th:field="${nuovoCuoco.fotografia_path}">
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>
