<!DOCTYPE html>
<html>
<head>
    <title>Siwvariant - Pagina rimuovi ricetta</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>
	<div id="header"><a th:href="@{/}">Siwfood</a></div>
    <h2>Rimuovi ricetta esistente</h2>
    <form th:action="@{/admin/rimuoviRicetta}" method="POST" th:object="${ricettaDaRimuovere}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}">
				<span th:text="${err}"></span>
			</p>
		</div>
		<div>
        	Nome*: <input required type="text" th:field="${ricettaDaRimuovere.nomeRicetta}">
        	<span th:if="${#fields.hasErrors('nomeRicetta')}" th:errors="${ricettaDaRimuovere.nomeRicetta}"></span>
			<br><br>
			<h2>Informazioni cuoco</h2>
			Cuoco:
			<select th:field="${cuoco.nome}">
				<option value="Nessun cuoco" text="Nessun cuoco">Nessun cuoco</option>
				<option th:each="line : ${elencoNomeCognomeData}" th:value="${line}" th:text="${line}">Nome - Cognome - DataNascita</option>
			</select>
        </div>
        <div>
			<span><button type="submit">Conferma</button></span>
		</div>
    </form>
</body>
</html>
