<!DOCTYPE html>
<head>
    <title>SiwFood - Aggiungi ingrediente</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

	<nav th:if="${userDetails!=null}">
	
		<div class="buttons">
    		<span class="button">
       	 		<a href="/logout">Esci</a>
    		</span>
            	
		</div>
        
		<div class="text_a">
    		Bentornato, admin <a th:href="@{'/showSelf'}" th:text="${userDetails.username}"></a> !
		</div>
	
	</nav>
	
	<div id="header"><a th:href="@{/}">Siwfood</a></div>

		<div id="menu_container">
        <div class="choice_menu">
                        
            <div class="titolo_choice_menu">
                            
                <a th:href="@{'/admin/rimuoviRicetta/'}">Rimuovi una ricetta</a>

            </div>
            <div class="split_half">
                <img src="/css/libro_ricette_upscayl.jpg" width="20%"> 
            </div>
                        
            <div class="split_half">     
                <div class="text_form">
                    <ul>
						<li>
							<form th:action="@{/admin/rimuoviRicetta}" method="POST" th:object="${ricettaDaRimuovere}">
									<div th:if="${#fields.hasGlobalErrors()}">
										<p th:each="err : ${#fields.globalErrors()}">
											<span th:text="${err}"></span>
										</p>
									</div>
									<div>
										<br>
							        	<span class="match_input_offset"> Nome*:<br></span>
										<input required type="text" th:field="${ricettaDaRimuovere.nomeRicetta}">
							        	<span th:if="${#fields.hasErrors('nomeRicetta')}" th:errors="*{nomeRicetta}"></span>
										<br><br>
										
										<span class="match_input_offset">Cuoco*:</span>
										
										<select id="small_font" th:field="${cuoco.nome}">
											<option id="small_font" value="Nessun cuoco" text="Nessun cuoco">Nessun cuoco</option>
											<option id="small_font" th:each="line : ${elencoNomeCognomeData}" th:value="${line}" th:text="${line}">Nome - Cognome - DataNascita</option>
										</select>		
										<div><br></div>
									</div>
						
							        <div>
										<span><button class="submit" type="submit">Conferma</button></span>
									</div>
							    </form>
						</li>
							
					</ul>
                </div>
            </div>
        </div>

</body>

</html>

