<!DOCTYPE html>
<head>
    <title>SiwFood - Aggiungi ingrediente</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

	<nav th:if="${userDetails!=null}">
	
		<div class="buttons">
    		<span class="button">
       	 		<a href="/logout">Esci</a>
    		</span>
            	
		</div>
        
		<div class="text_a">
    		Bentornato, admin <a th:href="@{'/showSelf'}" th:text="${userDetails.username}"></a> !
		</div>
	
	</nav>
	
	<div id="header"><a th:href="@{/}">Siwfood</a></div>
	
	
	
	
	
    <div>
        <img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" />
    </div>
	<h2>Ricette del cuoco <a th:href="@{'/cuoco' + '/' + ${cuoco.id}}" th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"></a></h2>
    <div>
        <div th:if="${allRicetteMesse==null || allRicetteMesse.isEmpty()}">
            Questo cuoco non ha ideato nessuna ricetta
        </div>
        <div th:unless="${allRicetteMesse==null || allRicetteMesse.isEmpty()}">
        	<ul>
            	<li th:each="ricetta : ${allRicetteMesse}">
                	<a th:href="@{'/admin/removeRicetta' + '/' + ${cuoco.id} + '/' + ${ricetta.id}}" th:text="${ricetta.nomeRicetta}">Goku Ricetta</a>
            	</li>
        	</ul>
        </div>
    </div>
	<h2>Ricette disponibili</h2>
	<div>
	       <div th:if="${allRicetteDisponibili==null || allRicetteDisponibili.isEmpty()}">
	            Questo cuoco ha ideato tutte le ricette nel sistema!
	        </div>
	        <div th:unless="${allRicetteDisponibili==null || allRicetteDisponibili.isEmpty()}">
	        	<ul>
	            	<li th:each="ricetta : ${allRicetteDisponibili}">
	                	<a th:href="@{'/admin/addRicetta' + '/' + ${cuoco.id} + '/' + ${ricetta.id}}" th:text="${ricetta.nomeRicetta}">Goku Ricetta</a>
	            	</li>
	        	</ul>
	        </div>
	    </div>
</body>

</html>