<!DOCTYPE html>
<html>

<head>
    <title>SiwFood - Cuochi</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>

    <nav>
        <div class="buttons">
            <span class="button">
                <a href="/register">Registrati</a>
            </span>
            <span class="button">
                <a href="/login">Accedi</a>
            </span>
        </div>
        <div class="text">
            Benvenuto, Rick!
        </div>
    </nav>

    <div id="header"><a th:href="@{/}">Siwfood</a></div>
    <div>
        <img src="https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg" width="20%" />
    </div>
    <h1>Benvenuto nell'elenco ingredienti della ricetta <a th:href="@{'/ricetta' + '/' + ${ricetta.id}}" th:text="${ricetta.nomeRicetta}"></a></h1>
	<h2>Ingredienti nella ricetta</h2>
    <div>
        <div th:if="${allIngredientiMessi==null || allIngredientiMessi.isEmpty()}">
            Questa ricetta non ha nessun ingrediente
        </div>
        <div th:unless="${allIngredientiMessi==null || allIngredientiMessi.isEmpty()}">
        	<ul>
            	<li th:each="ingrediente : ${allIngredientiMessi}">
                	<a th:href="@{'/admin/removeIngrediente' + '/' + ${ricettaId} + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome} + ' [' + ${ricetta.ingrediente2quantity.get(ingrediente)} + ']'">Goku Ingrediente</a>
            	</li>
        	</ul>
        </div>
    </div>
	<h2>Ingredienti disponibili</h2>
	<div>
		<span th:if="${qtyError}">
			<span th:if="${qtyError == ''}">
				<h1>Inserire una quantità maggiore di zero!</h1>
			</span>
		</span>
	       <div th:if="${allIngredientiDisponibili==null || allIngredientiDisponibili.isEmpty()}">
	            Non ci sono più ingredienti disponibili
	        </div>
	        <div th:unless="${allIngredientiDisponibili==null || allIngredientiDisponibili.isEmpty()}">
	        	<ul>
	            	<li th:each="ingrediente : ${allIngredientiDisponibili}">
						
						<form th:action="@{'/admin/addIngrediente' + '/' + ${ricettaId} + '/' + ${ingrediente.id}}" method="post">
							<span th:text="${ingrediente.nome}"></span>
						    <input type="number" name="ingredienteQuantity">
							
						    <button type="submit">Aggiungi alla ricetta</button>
						</form>
	            	</li>
	        	</ul>
	        </div>
	    </div>
</body>

</html>